body{
  background-image: url('../img/fondo_login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.outer{
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.center{
  display: table-cell;
  vertical-align: middle;
}

.content-form{
  margin-left: auto;
margin-right: auto;
text-align: -moz-center;
width: 41.666667%;
border-radius: 15px 15px 15px 15px;
}
